@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@300&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F4591;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
}

.nav {
    color: white;
}

.nav1 {
    background-color: white;
    color: #1F4591;
    border-radius: 5px;
}

.nav-links .nav:hover {
    background-color: white;
    color: #1F4591;
    border-radius: 5px;
}

.logo-left, .logo-right {
    display: flex;
    align-items: center;
}

.logo-left img, .logo-right img {
    max-width: 70px;
    margin-right: 10px;
}

.faci p {
    padding: 15px 20px;
    color: white;
    background-color: #1F4591;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px #1F4591;
}

.faci-pics {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.faci-pics .container {
    background-color: #1F4591;
    text-align: center;
    padding: 30px;
    margin: 20px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    transition: transform .2s;
    box-shadow: 0 0 10px #1F4591;
    font-size: 30px;
}

.faci-pics .container a{
    text-decoration: none;
    color: white;
}

.faci-pics .container:hover {
    transform: scale(1.05);
}

.faci-pics .container img{
    width: 200px;
}